@import url(../node_modules/materialize-css/dist/css/materialize.min.css);
@import url(../node_modules/vex-js/dist/css/vex.css);
@import url(../node_modules/vex-js/dist/css/vex-theme-default.css);
@import url(../node_modules/materialize-css/dist/css/materialize.min.css);

body, html {
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
}

footer {
	position: fixed;
	bottom: 0;
	padding: 0 5px;
	border-top: 1px solid black;
	width: 100%;
	background: white;
	z-index: 999;
}

a {
	text-decoration: none;
}

a:not(.btn):link, a:not(.btn):hover, a:not(.btn):active  {
	color: rgb(66, 66, 161);
}

a:not(.btn):visited {
	color: #4caf50;
}

.android-device {
	border: 2px solid black;
	border-radius: 10px;
	padding: 10px;
	text-align: left;
}

.android-device * {
	margin: 1px;
}

a.select-btn {
	float: right;
	position: relative;
	bottom: 65px;
}

.modal .modal-content {
	padding: 0;
	margin: 0;
}

.row .col { 
	margin: 0;
	padding: 0;
}

.modal-c {
	padding: 10px;
	padding-top: 60px;
}

#about-modal {
	padding: 10px;
}

#load-div {
	position: absolute;
	width: 50%;
	top: 40%;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

#top-banner {
	position: fixed;
	top: 0;
	margin: 0;
	padding: 0 0 5px 5px;
	border-bottom: 2px solid navy;
	height: auto;
	width: 100%;
	background: white;
	z-index: 999;
}

#center-full {
	position: absolute;
	width: 70%;
	top: 20%;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
}

#device-details {
	text-transform: capitalize;
}

/* Scrollbar */

/* Width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e4e4e4;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(86, 87, 107)
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(55, 54, 70);
}